external.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT company (employe*, (client | user))>
<!ELEMENT employe (name,(email | number), password)>
<!ELEMENT client (name,email,password)>
<!ELEMENT user (name, email, password)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ATTLIST name profile CDATA #REQUIRED>